.choose-us{
  color: #FFFFFF;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18.75px;
  letter-spacing: 0px;
  text-align: center;
}


.testo-back-improve{
  background: #E8EFFA; 
  background: linear-gradient(179deg, rgba(0, 82, 204, 0.1) 1.96%, rgba(255, 255, 255, 0) 40.47%);
}

.our-improve{
  height: 22vh;
  clip-path: polygon(0% 8%, 100% 100%, 0% 100%, 0 83%);
  background-color:#E7EFFA ;
}

.pro-fea-imp{
  color: #000;
  font-family: "Roboto", Sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
}

.logo-icon-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-container {
  background-color: #090a43;
  padding: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.text-muted{
  color: #090a43;
  font-size: 22px;
}

.description{
  color: #656565;
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
}

.card-product-improv{
  /* width: 350px ; */
  height: 19rem;
  text-align: center;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #0052CC00;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 4px 4px 5px rgba(0, 82.00000000000007, 204, 0.1);
}


@media screen and (max-width:768px) {
  .card-product-improv{
      width: 100%;
    }
   .pro-fea-imp{
    font-size: 24px;
    
   } 
}

@media screen and (min-width:767px) and (max-width:992px) {

}

