.main-container {
  margin-top: 10rem;
}

.heading-driving {
  color: #06295b;
  font-family: "Roboto", Sans-serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 66px;
}

/* .card {
  padding: 20px 30px 20px 30px;
  background-color: #f7f6f9;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 8px 8px 8px 8px;
  margin: 1rem 0;
  width: 38rem;
} */

.text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(6, 41, 91);
  transition: color 0.3s ease 0s;
}

.card-con {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #F7F6F9;
  padding: 20px;
}

.btn-free {
  font-family: "Roboto", Sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #004cbd;
  border-radius: 4px 4px 4px 4px;
  padding: 10px 35px 10px 35px;
  border: none;
}
.btn-free:hover {
  background-color: #fff;
  border: 0.1px solid #004cbd;
  color: #004cbd;
  transition: all 0.3s;
}


@media screen and (max-width:768px) {
  .dri-img{
    width: 100%;
  }
  .heading-driving{
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }
  .card-con {
    padding: 10px;
  }
  .driv-btn-center{
    text-align: center;
  }
}