.customer {
  color: #667085;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  padding: 1rem 0;
  /* height: 50vh; */
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img {
  padding: 10px;
  width: 220px;
  height: 150px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e7eaee;
  border-radius: 0px 0px 0px 0px;
  margin: 2rem 0;
}


@media (max-width: 768px) {
  .img-container {
    flex-direction: row; /* Change flex direction to row for single row layout */
  }

  .img-item {
    flex: 0 0 25%; /* Each image takes 25% of the container width */
  }
}

.img-container {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap to the next line */
  justify-content: center; /* Center the images horizontally */
}

.img-item {
  margin: 10px; /* Add some margin between the images */
}

.img {
  width: 100%;
}