.title-video{
    font-family: "Roboto", Sans-serif;
    font-size: 51px;
    text-align: center;
    font-weight: 500;
    color: #26262C;
}

video{
    width: 100%;
    height: auto;
}

.title{
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    /* line-height: 57px; */
    text-align: center;
    color: #000;
}

.partners{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    .partners{
        display: block;
       text-align: center;
    }
    .title{
        font-size: 20px;
    }
    .title-video{
        font-size: 30px;
    }
}

