.bg-color-leansuite{
    background-color: #090A43;
    height: 100%;
}


.iphone{
    width: 100%;
}

.title-iphone{
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: none;
    line-height: 46px;
    letter-spacing: 0px;

}

.the-leansuite{
    background-color:  #090A43;
    height: 41vh;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 8%, 100% 100%, 0% 100%, 0 83%);
}

.sub-text-iphone{
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.iphone-text{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    /* width: 85%; */
}

.logo-icon-iphone{
    background-color: #FFC000;
    border-radius: 40px;
    padding: 5px; 
    margin-left: 5px;
}

.sche-btn{
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    fill: #0052CC;
    color: #0052CC;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    padding: 15px 32px 15px 32px;
}

@media screen and (max-width:768px) {
    .title-iphone{
        text-align: center;
    }
    .sub-text-iphone{
        width: 100%; 
        text-align: center;
    }
    .sche-div-btn{
        text-align: center;
    }
}